<%= form_with(model: [@article, translation], local: true) do |form| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if translation.id.nil? %>
    <%= label_tag(:automatic_translation, "Automatic translation") %>
    <%= check_box_tag(:automatic_translation) %>
  <% end %>

  <div class="form-group manuell-translation">
    <%= form.label :question %>
    <%= form.text_field :question, class: 'form-control' %>
  </div>
  <div class="form-group manuell-translation">
    <%= form.label :answer %>
    <%= form.text_area :answer, class: 'form-control' %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :user %>
      <%= form.select("user_id", User.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select User'}, { required: true, class: 'form-control' }) %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :language %>
      <%= form.select(:language, Translation::AVAILABLE_TRANSLATIONS, {prompt: 'Select Language'}, { required: true, class: 'form-control' }) %>
    </div>
  </div>
  <div class="form-group manuell-translation">
    <%= form.label :status %>
    <%= form.select :status, Translation.statuses.keys, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
