<h1>Editing Translation</h1>


<%= render 'form', translation: @translation %>

<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to article_path(@article), class:"btn btn-sm btn-dark" do %>
  <i class="fas fa-undo"></i> Back
  <% end %>
  <%= link_to article_translation_path(@translation.article, @translation), class:"btn btn-sm btn-primary" do %>
  <i class="fas fa-globe"></i> Show
  <% end %>
</div>
