<p id="notice"><%= notice %></p>
<p><%= @translation.question %></p>
<p><%= @translation.answer %></p>
<p class="country-flag"><%= language_flag(@translation.language) %></p>
<p><%= @translation.status %></p>

<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to article_path(@translation.article), class:"btn btn-sm btn-dark" do %>
    <i class="fas fa-undo"></i> Back
  <% end %>
  <%= link_to edit_article_translation_path(@translation.article, @translation), class:"btn btn-sm btn-warning" do %>
    <i class="fas fa-edit"></i> Edit
  <% end %>
  <%= link_to article_translation_path(@translation.article, @translation), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" do %>
    <i class="far fa-trash-alt"></i> Destroy
  <% end %>
</div>
