<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :translations do |translations_form| %>
    <div class="form-group">
      <%= translations_form.label :question %>
      <%= translations_form.text_field :question, { required: true, class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= translations_form.label :answer %>
      <%= translations_form.text_area :answer, { required: true, class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= translations_form.label :user %>
      <%= translations_form.select("user_id", User.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select User'}, { required: true, class: 'form-control' }) %>
    </div>
    <div class="form-group">
      <%= translations_form.label :language %>
      <%= translations_form.select(:language, Translation::AVAILABLE_TRANSLATIONS, {prompt: 'Select Language'}, { required: true, class: 'form-control' }) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
