<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<table class="table table-striped ">
  <thead>
    <%= link_to '+ New Article', new_article_path, class: 'btn btn-success btn-sm pull-right' %>
    <tr>
      <th>Article</th>
      <th>View Translations</th>
      <th>Destroy Article</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td>
          <%= link_to article, class:"btn btn-sm btn-primary" do %>
            <i class="far fa-user"></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" do %>
            <i class="far fa-trash-alt"></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
