<p id="notice"><%= notice %></p>
<div class="row">
  <ul>
    <% @article.translations.each do |translation| %>
      <li><%= link_to(language_flag(translation.language), article_translation_path(@article, translation), class: 'country-flag') %></li>
    <% end %>
    <li><%= link_to '+ New Translation', new_article_translation_path(@article), class: 'btn btn-success btn-sm' %></li>
  </ul>
</div>
<br>
<%= link_to articles_path, class:"btn btn-sm btn-dark" do %>
  <i class="fas fa-undo"></i> Back
<% end %>
