<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, type:'email', required: true, placeholder: "email@example.com", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname, required: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
