<h1>Editing User</h1>

<%= render 'form', user: @user %>

<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to users_path, class:"btn btn-sm btn-dark" do %>
  <i class="fas fa-undo"></i> Back
  <% end %>
  <%= link_to @user, class:"btn btn-sm btn-primary" do %>
  <i class="far fa-user"></i> Show
  <% end %>
</div>
