<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <%= link_to '+ New User', new_user_path, class: 'btn btn-success btn-sm pull-right' %>
    <tr>
      <th>Username</th>
      <th>View Profile</th>
      <th>Edit Profile</th>
      <th>Destroy Profile</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= link_to user, class:"btn btn-sm btn-primary" do %>
            <i class="far fa-user"></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_user_path(user), class:"btn btn-sm btn-warning" do %>
            <i class="fas fa-edit"></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" do %>
            <i class="far fa-trash-alt"></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
