<p id="notice"><%= notice %></p>
<p><%= @user.name %></p>
<p><%= @user.surname %></p>
<p><%= @user.email %></p>

<h3>Translations</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Article</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <% @user.translations.each do |translation| %>
    <tr>
      <td><%= translation.question  %></td>
      <td><%= link_to translation.article.id, translation.article %></td>
      <td><%= link_to(language_flag(translation.language), article_translation_path(translation.article, translation), class: 'country-flag') %></td>
    </tr>
    <% end %>
  <tbody>
</table>

<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to users_path, class:"btn btn-sm btn-dark" do %>
    <i class="fas fa-undo"></i> Back
  <% end %>
  <%= link_to edit_user_path(@user), class:"btn btn-sm btn-warning" do %>
    <i class="fas fa-edit"></i> Edit
  <% end %>
</div>
